body {
    background-image: url("battleship.jpg");
    background-repeat: no-repeat;
    /* opacity: 0.2; */
    background: rgba(76, 175, 80, 0.2);  20% opacity
}

body p {
    font-weight: bold;
    color: #000000;
    opacity: 1;
}